/*  #ifdef  MP-WEIXIN  */
page {
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 100%;
  min-height: 100vh;
  background-color: #fff;
  .page-scroll {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .page {
    background-color: #fff;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
/*  #endif  */

image {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 0;
}

image[src=''] {
  background-color: transparent;
}

// 重置 button 样式
button {
  width: auto;
  height: auto;
  display: block;
  border-radius: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  &:after {
    border: 0;
  }
  &:active,
  &:hover {
    opacity: 0.8;
  }
}

// 重置 input 样式
input {
  display: block;
  width: 100%;
  font-size: 30rpx;
  line-height: 1.4;
  background-color: transparent;
  border-radius: 0;
  color: #333;
}
