/*  #ifdef  MP-WEIXIN  */
.page-scroll,
.page {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  position: relative;
  padding-bottom: 30rpx;
}
.page-scroll {
  min-height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.page {
  height: 100%;
  height: 100vh;
  overflow: hidden;
}
/*  #endif  */

image {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 0;
}

image[src=''] {
  background-color: transparent;
}

// 重置 button 样式
button {
  width: auto;
  height: auto;
  display: block;
  border-radius: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  &:after {
    border: 0;
  }
  &:active,
  &:hover {
    opacity: 0.8;
  }
}

// 重置 input 样式
input {
  display: block;
  width: 100%;
  font-size: 30rpx;
  line-height: 1.4;
  background-color: transparent;
  border-radius: 0;
  color: #333;
}
