.iconimg {
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-style: normal;
}

// 补贴项目
.iconimg-subsidy {
  width: 36rpx;
  height: 30rpx;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAA8BAMAAAA3cOGjAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURUdwTB90/CF0/h50+x90+x50+x50+x5z+iuA/x5z+ojSGzkAAAAJdFJOUwBhLuuoh83gBpKXmxsAAAB6SURBVEjHY2AY7oDJeSZOYKIAVRQ5Ew+YClHDOBMvEAArasevqAKsSBK/oolgRZ74FU0BK8rEr2gaWJElfkWTwYpmEgCjimZSOWGOBiYJivAE2YApGgkhjlXPgCmiXxBU4lcznfgiWhO/oknE1y0Mqsm4lZgFDfuaHABQpz3cNuomTAAAAABJRU5ErkJggg==);
}

.iconimg-arrow-down {
  width: 34rpx;
  height: 30rpx;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAA8CAMAAADovOwsAAAAUVBMVEUAAACjqbWiqLSiqLOip7ShqLSiqLWkrLaor7e/v7+iqLShqLShqLSiqLOhqLOiqLSiqbWjqLWiqLSiqbWkqLejqreqqrOmsbyqqsahqLShp7N1OjNvAAAAGnRSTlMARvXK75Z+IBAE+uTj2Lmna2ZYTzUnGwsJxDVguhsAAACgSURBVFjD7dRZCsMwDATQSRzH2fekqe5/0EI/QherWA4ECnoHEIjRCEoppS42m4o80vuMYCOxRgS6ZcRKC4RJ6IfkmiHydXg5sXKEKg0xTIlga8oss0JgIK8BIh15dJDZPAllG4Qm+jJBrKcPPeSKmt7UBSIkzL3LWHphEWdv6dDuiLQc/61aEC2X945voilxgnvm3Dic4mzTWAellPojD271KyynL8l2AAAAAElFTkSuQmCC);
}
