/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */
@use '~/assets/styles/scss/mixins/libs/text-overflow' as *;

/* 行为相关颜色 */
$color-primary: #3882ff;
// $color-success: #4cd964;
// $color-warning: #f0ad4e;
// $color-error: #dd524d;

/* 文字基本颜色 */
$color-text: #3d424d; // 基本色
$color-text-placeholder: #abaeb3; // 辅助灰色

/* 背景颜色 */
$color-bg: #fff;

/* 边框颜色 */
$color-border: #c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
// $font-size-sm: 12px;
// $font-size-base: 14px;
// $font-size-lg: 16;

/* 图片尺寸 */
// $img-size-sm: 20px;
// $img-size-base: 26px;
// $img-size-lg: 40px;

/* Border Radius */
// $border-radius-sm: 4rpx;
// $border-radius-base: 8rpx;
// $border-radius-lg: 12rpx;
// $border-radius-circle: 50%;

/* 间距 */
$spacing: 30rpx;
// $spacing-row-base: 10px;
// $spacing-row-lg: 15px;

/* 垂直间距 */
// $spacing-col-sm: 4px;
// $spacing-col-base: 8px;
// $spacing-col-lg: 12px;

/* 透明度 */
// $opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
// $color-title: #2c405a; // 文章标题颜色
// $font-size-title: 20px;
// $color-subtitle: #555; // 二级标题颜色
// $font-size-subtitle: 18px;
// $color-paragraph: #3f536e; // 文章段落颜色
// $font-size-paragraph: 15px;

/* 字体间距 */
// $line-height: 1 !default;
// $line-height-base: $line-height !default;
$line-height-zh: 1.4 !default;
// $line-height-en: 1.3 !default;

/* 层级 */
// $z-index: 1 !default;
// $z-index-base: $z-index !default;
// $z-index-popup: 9999 !default;
// $z-index-position: 2 !default;
